<footer class="text-center">
    <hr>
    <figure>
        <img src="img/csumb_logo.jpg" alt="California State University Monterey Bay logo">
    </figure>
    <div>
        CST336 Internet Programming. 2026&copy; Luis Valadez <br>
        <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br>
    </div>
</footer>