<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/artwork">On Display</a> 
        <a class="navbar-brand" href="/videos">Video Art</a> 
        <a class="navbar-brand" href="/gallery">Gallery</a>
        <a class="navbar-brand" href="/sounds">Sound Art</a>
    </div>
</nav>